.button {
  outline: 0;
  @mixin hover {
    opacity: 0.7;
  }
  transition: all ease 0.25s;
}

.icon {
  opacity: 0.8;
  stroke-width: 1;
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}