.area-chart-wrapper {
    overflow: hidden;
    transition: all 1s ease-in-out !important;
    width: calc(100%);
    border-radius: 30px;

}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.25s forwards 0.25s; /* Durée de l'effet de fondu */
    transition: all 1s ease-in;
    text-align: right;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

.recharts-reference-dot {
    transition: all 1s ease;
}

.tooltip {
  border: 1px solid light-dark(rgba(128, 128, 128, 0.15), rgba(76, 76, 76, 0.4));
  background-color: light-dark(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.2));
  border-radius: 28px;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

text, svg, circle, line {
    transition: all 0.25s ease !important; /* set to 2s to clearly show if it works */
}