.ticker-view {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    position: relative;
  }
  
  .ticker-column.increase {
    animation: pulseIncrement 1s ease 1 !important;
  }
  
  .ticker-column.decrease {
    animation: pulseDecrement 1s ease 1 !important;
  }
  
  @keyframes pulseIncrement {
    0%, 100% { color: inherit; }
    50% { color: var(--increment-color) }
  }
  
  @keyframes pulseDecrement {
    0%, 100% { color: inherit; }
    50% { color: var(--decrement-color) }
  }