.header {
  height: rem(56px);
  transform: translateX(0px);
  position: fixed;
  display: flex;
  width: calc(100vw - 2rem);
  flex-direction: column;
  justify-content: center;
  top: 0.5rem;
  z-index: 100;
}

.search {
  justify-content: space-between;
}

.inner {
  height: rem(56px);
  border: 1px solid light-dark(rgba(128, 128, 128, 0.15), rgba(76, 76, 76, 0.4));
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(31, 31, 31, 0.6));
  border-radius: 28px;
  padding: 0.5rem 0.75rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  filter: hue-rotate(10deg);
  cursor: pointer;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-xl);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: all 0.125s ease-in-out;

  @mixin hover {
    box-shadow: 0 4px 6px -1px light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1)), 0 2px 4px -2px light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.3));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-dark-9))
  }
}

.link-active {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-xl);
    text-decoration: none;
    color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    background-color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
    transition: all 0.125s ease-in-out;

    @mixin hover {
      box-shadow: 0 4px 6px -1px light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1)), 0 2px 4px -2px light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.3));
      background-color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
      color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9))
    }
}