@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'cv01' 1, 'cv02' 1, 'cv03' 1, 'cv04' 1, 'cv09' 1, 'zero' 0, 'liga' 1, 'calt' 1, 'tnum' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-gray-1) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #0e0b1c !important;
}

#root {
  padding: 0rem 0rem 1rem 0rem;
  transition: background 0.25s ease-in-out;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  transition: background 0.5s ease-in-out;
}

.app-container {
  padding: 0 2rem;
}

.mantine-Spotlight-search {
  outline: 0;
  border: 1px solid transparent !important;
}

.mantine-Spotlight-actionsList {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8)) !important;
  padding: 0 !important;
}

.mantine-Spotlight-actionsGroup {
  margin-top: 18px;
  margin-bottom: 14px;
}

.mantine-Spotlight-actionsGroup::before {
  margin-bottom: 7px;
}

.mantine-Pagination-root div {
  display: flex;
  justify-content: center;
}

.mantine-Spotlight-actionLabel {
  display: none;
}

.mantine-Spotlight-root .mantine-UnstyledButton-root:where([data-selected])  {
  border-radius: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
  background-color: light-dark(rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0.09)) !important;
}

.mantine-Select-input:focus {
  border: 1px solid transparent !important;
}

.mantine-Select-input {
  user-select: none;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7)) !important;
} 

.hover-effect {
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
}

.hover-effect:hover {
  transition: opacity 0.1s ease-in-out;
  opacity: 0.8;
}

.go-to-top-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.go-to-top-button:hover {
  filter: saturate(1.5);
  transition: all 0.2s ease;
}


::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: var(--mantine-color-gray-5);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}