.ticker-wrapper {
    background-color: var(--mantine-color-dark-7);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    font-feature-settings: 'tnum' 1, 'cv02';
}


.diff {
    line-height: 1;
    display: flex;
    align-items: center;
}
