.tableContainer {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    border-radius: 15px !important;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    padding-top: 16px;
    font-feature-settings: 'tnum' 1, 'cv02';
    filter: blur(0px);
    overflow: hidden;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.tableCell:not(:last-child) {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.percentageText {
  font-weight: 400;
  font-size: 14px;
}

.tableHeaderCell {
  cursor: pointer;
}

.supplyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.supplyProgress {
  width: 100%;
}

.dimmedText {
  color: var(--mantine-color-gray-text);
  font-size: 12px;
}