.tableContainer {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    border-radius: 15px !important;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    padding-top: 16px;
    font-feature-settings: 'tnum' 1, 'cv02';
    filter: blur(0px);
    overflow: hidden;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.tableCell:not(:last-child) {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.percentageText {
  font-weight: 400;
  font-size: 14px;
}

.tableHeaderCell {
  cursor: pointer;
}

.supplyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.supplyProgress {
  width: 100%;
  display: flex;
  align-self: flex-end;
}

.dimmedText {
  color: var(--mantine-color-gray-text);
  font-size: 12px;
}

/* Add these styles to your .css file */
.scrollable-container {
  position: relative;
}

.table-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  pointer-events: none; /* Allow clicks to pass through */
  z-index: 1; /* Ensure it is above other elements */
}
.table-shadow-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background: linear-gradient(
    to right,
    light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    transparent
  );
  pointer-events: none;
}

.table-shadow-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background: linear-gradient(
    to left,
    light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    transparent
  );
}

.hidden {
  display: none;
}